* {
  box-sizing: border-box;
}
body {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
}
svg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#scene {
  pointer-events: all;
}

#nodes > g {
  cursor: pointer;
}

#nodes > g.hovered > rect,
#edges > path.link-ui.hovered {
  stroke: var(--c-accent);
  fill: var(--c-secondary);
  transition: fill 100ms, stroke 100ms;
}

svg text {
  font-family: "Roboto", arial, sans-serif;
}

svg:focus {
  outline: 0;
}
