@media screen and (max-width: 600px) {

  .layout-container.input-box {
    width: auto;

    & .input-wrapper {
      width: 100%;
    }
  }

  .layout-container.about-links {
    bottom: 0;
    top: unset;
  }

  #app .about .about-container {
    width: 95%;
    max-width: unset;

    & section {
      --pad-h: 2em;
      padding-left: var(--pad-h);
      padding-right: var(--pad-h);
    }

    & .features li {
      margin-bottom: 0.2em;
    }
  }
  
}