@media screen and (max-width: 821px) {

  #app {
    & .input-wrapper {
      min-width: 50vw;
    }
  }

  #tooltip {
    --w: 4px;
    box-shadow: 0 0 2px var(--w) hsl(0deg 1% 87%);

    /* to hide input-box */
    min-height: 60px;
    
    width: unset;
    top: var(--w);
    left: var(--w);
    right: var(--w);
  }

  #nodes > g {
    user-select: none;
  }

  /* #scene {
    user-select: none;
  } */

  body {
    overscroll-behavior: contain;
  }
  
}