@import "./anvaka-vs.css";
@import "./tooltip.pcss";

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  font-size: 100%;

  /* hsl(207deg 5% 35%) */
  --textColor: hsl(220, 10%, 45%);
  --textColorMuted: hsl(220, 5%, 50%);
  --borderColor: hsl(220, 10%, 88%);
  --borderFocusColor: #aaa;

  /* wikipedia color */
  /* --c-accent: hsl(220, 60%, 50%);
  --c-accent-soft: hsl(220, 50%, 80%);
  --c-secondary: hsl(220, 55%, 75%); */

  --c-accent: hsl(342, 44%, 63%);
  --c-accent-soft: hsl(344, 50%, 80%);
  --c-secondary: hsl(342, 39%, 72%);
}

:global(#app) {
  position: absolute;
  z-index: 10;
}
